<div class="exit-btn" id="exit-btn-1" (click)="showMenuLeftBtn()"></div>
<div class="exit-btn" id="exit-btn-2" (click)="showMenuRightBtn()"></div>

<header [ngStyle]="setLogo()">
  <img *ngIf="overviewLayout != null && overviewLayout.logo != null" class="logo" src="{{overviewLayout.logo}}">
</header>
<main
  [ngStyle]="setImageContainerStyle()">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images" [ngStyle]="setImageStyle()">
          <img class="selectionIcon" *ngIf="overviewLayout.selectionIcon != null && selectedImages.indexOf(img) > -1"
               src="{{overviewLayout.selectionIcon}}">
          <img src="{{img.imageBase64}}" (click)="selectImage(img)">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
</main>
<footer>
  <div class="selected-images"
       [ngStyle]="setSelectionContainerStyle()">
    <swiper [config]="selectedImagesConfig">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let img of selectedImages">
            <img class="selected-image" src="{{img.imageBase64}}" [ngStyle]="setImageStyle()">
        </div>
      </div>
      <div class="swiper-pagination hide-pagination"></div>
    </swiper>
  </div>
  <img *ngIf="overviewLayout != null && overviewLayout.selectBtnImage != null" class="select-btn"
       src="{{overviewLayout.selectBtnImage}}">
  <button *ngIf="overviewLayout != null && overviewLayout.selectBtnImage == null" class="btn btn-default select-btn"
          [ngStyle]="setSelectButton()">{{overviewLayout.selectBtnText}}
  </button>
</footer>


<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}"
     data-backdrop="">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMenu()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Menu</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default menu-btn" (click)="closeMenu()">Back</button>
        <button type="button" class="btn btn-default menu-btn" routerLink="/configuration">Edit</button>
        <button type="button" class="btn btn-default menu-btn" routerLink="/">Exit</button>
      </div>
    </div>
  </div>
</div>


