:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.exit-btn {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
}

#exit-btn-1 {
  left: 0;
}

#exit-btn-2 {
  right: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 25%;
}

.logo {
  margin: auto 0;
  max-height: 50%;
}

main {
  background: #ffffff;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  padding: 2rem 1rem 5rem 1rem;
  overflow: hidden;
  position: relative;
}

swiper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  max-height: 100%;
  max-width: 100%;
}

.swiper-slide > .selectionIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  max-height: 50%;
}

footer {
  height: 25%;
  position: relative;
}

.selected-images {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
  background: #ffffff;
  overflow: hidden;
  padding: 1% 0;
}

.selected-image {
  height: 100%;
}

.menu-btn {
  display: block;
  width: 80%;
  height: 4rem;
  margin: 2rem auto;
}

.select-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem;
  max-height: 50%;
}

.hide-pagination {
  display: none;
}
