<div class="container-fluid full-height" [ngStyle]="setImagePositionAndBackground()">

  <main class="full-height">

    <div [ngStyle]="setLeftSwitchButton()" (click)="switchLayoutLeftBtn()"></div>
    <div [ngStyle]="setRightSwitchButton()" (click)="switchLayoutRightBtn()"></div>

    <div id="top-container" class="row">
      <div class="col-xs-9 full-height"
           [ngClass]="{'col-xs-push-3': switched }">
        <div id="selected-image">
          <img src="{{selectedImage.imageBase64}}" [ngStyle]="setImageStyle()">
        </div>
      </div>

      <div class="col-xs-3 full-height"
           [ngClass]="{'col-xs-pull-9': switched }">
        <div id="image-actions">
          <div id="back">
            <img *ngIf="detailLayout != null && detailLayout.backBtnImage != null"
                 class="detail-button"
                 src="{{detailLayout.backBtnImage}}">
            <button *ngIf="detailLayout != null && detailLayout.backBtnImage == null"
                    class="btn btn-default"
                    [ngStyle]="setBackButton()"
                    (click)="clickBackBtn()">{{detailLayout.backBtnText}}
            </button>
          </div>
          <div id="finish">
            <img *ngIf="detailLayout != null && detailLayout.finishBtnImage != null"
                 class="detail-button"
                 src="{{detailLayout.finishBtnImage}}">
            <button *ngIf="detailLayout != null && detailLayout.finishBtnImage == null"
                    class="btn btn-default"
                    [ngStyle]="setFinishButton()"
                    (click)="clickFinishBtn()">{{detailLayout.finishBtnText}}
            </button>
          </div>
          <div id="print">
            <img *ngIf="detailLayout != null && detailLayout.printBtnImage !== null"
                 class="detail-button"
                 src="{{detailLayout.printBtnImage}}"
                 (click)="printImages()">
            <button *ngIf="detailLayout != null && detailLayout.printBtnImage === null"
                    class="btn btn-default"
                    [ngStyle]="setPrintButton()"
                    [class.disabled]="isPrinted"
                    (click)="printImages()">{{detailLayout.printBtnText}}
            </button>
          </div>
          <div id="print-message"
               [ngClass]="{'show-message': isPrinted, 'hide-message': !isPrinted}"
               [ngStyle]="setPrintMessage()">{{detailLayout.printMessageText}}
          </div>
        </div>
      </div>
    </div>

    <div id="bottom-container" class="row">
      <div class="col-xs-9"
           [ngClass]="{'col-xs-push-3': switched }">
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let img of images">
              <img src="{{img.imageBase64}}" [ngStyle]="setImageStyle()" (click)="selectImage(img)">
            </div>
          </div>
        </swiper>
      </div>

      <div class="col-xs-3"
           [ngClass]="{'col-xs-pull-9': switched }">
        <div id="qr">
          <qr-code [value]="qrCode" [size]="136" [level]="'H'"></qr-code>
        </div>
      </div>
    </div>
  </main>

</div>
